<html>
  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header class="cabecalhoPrincipal">
      <div id="login">
        <nav class="cabecalhoPrincipal-login">
          <a class="cabecalhoPrincipal-nav-link" href="#">Login</a>
          <a class="cabecalhoPrincipal-nav-link" href="#">Cadastrar</a>
          <li>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-steam"></a>
          </li>
         

        </nav>
      </div>
      <div id="naruto">
        <nav class="cabecalhoPrincipal-nav">
          <img class="cabecalhoPrincipal-nav-logo" src="https://i.pinimg.com/originals/cd/ab/e1/cdabe19c6dd00048678936575ed9a70a.png">
          <a class="cabecalhoPrincipal-nav-link" href="#">Home <a>Rank Champions</a></a>
          <a class="cabecalhoPrincipal-nav-link" href="#">Cursos <div>Rank Champions</div></a>
          <a class="cabecalhoPrincipal-nav-link" href="#">Champions <div>Rank Champions</div></a>
          <a class="cabecalhoPrincipal-nav-link" href="#">Tier List <div>Rank Champions</div></a>
        </nav>
      </div>
        
    </header>
<div id="wrapper">
  <div id="first-box">
    <div id="free-week">
      <ol id="list">
        <style>
          ol img {
            height: 40px;
          }
        </style>
      </ol>
      <h1>Free week champions</h1>
    </div>
    <div id="video">
          <a id='bannerLink1' href="#"><img src="" id='img1' ></a>
          <a id='bannerLink1' href="#"><img src="" id='img2' ></a>
          <a id='bannerLink1' href="#"><img src="" id='img3' ></a>
    </div>
  </div>
  <div id="new-champ">
    <a>Campeão em destaque</a>
  </div>
</div>

</body>
<footer>
</footer>
</html>