#login {
    background-color: #151f34;
    display: flex;
    align-items: center;
    height: 57px;
    justify-content: space-between;
}

#cabecalhoPrincipal {
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
    background-color: #19202d;

}

#summonerInfo {
    display: contents;
}

.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: initial;
    color: white;

}

#error-message {
    background-repeat: round;
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://pm1.narvii.com/5824/97c9ecbc30bcda7643b3b0edf97b545b66fca9c1_hq.jpg")
}

    #error-message a {
        color: darkgray;
    }

#formInfo {
    display: grid;
    color: darkgray;
}

    #form {
        position: static;
        background-repeat: round;
        margin: 1px;
        border: 1px solid #1A293A;
        box-shadow: 0 0 1px 1px #060B14, inset 0 0 0 1px #0d1420
    }

        #form button {
           margin-right: 10px;
           background-color: lavender;
        }


#queuePicker {
    height: 30px;
}
#info-content {
    color: rosybrown;
    width: 100%;
    text-align: justify;
    justify-content: space-around;
}

    #info-content h1 {
        align-self: center;
    }



footer {
    background-color: #19202d;
}

footer img {
    height: 80px;
    widows: 30px;
    margin-top: 10px;
}


#medial-links {
    margin-left: 42.5%;
    padding: 50p;
    display: flex;
    width: 100px;
    justify-content: space-between;
    margin-top: 20px;
}

#medial-links  a {
    color: red;
}



#infos {
    align-self: center;
    color: darkgray;
    
}

    #infos h1 {
        font-style: initial;
    }

#error-content {
    width: 100%;
    justify-content: space-around;
}

#error {
    margin-left: 40%;
    align-self: center;
    
}

#champion-image img{
    width: -webkit-fill-available;
}

    #cabecalhoPrincipal a:hover {
        background-color: aliceblue;
    }

.cabecalhoPrincipal-nav-link {
    color: darkgray;

}

#riot-image {
    justify-content: space-around;
    display: flex;
}

#list {
    -webkit-margin-collapse: discard;
    margin-right: 20px;
}

#variable-image {
    max-height: 100%;
    max-width: 100%;
    width: min-content;
}

#wrapper {
    width: 1136px;
    margin: 0 auto;
    z-index: 150;
    position: relative;
    background-color: #151f34;
}

li:hover {
     background-color: #071736;
}

body {
    text-align: center;
    
    
}
h1{
    color: darkgray;
    font-style: oblique;
    font-size: xx-large;

}

.cabecalhoPrincipal-nav {
    display: contents;
}
    .cabecalhoPrincipal-nav li{
        margin: auto;
        cursor: pointer;
    }

.cabecalhoPrincipal-nav:hover {
    background-color: red;
}

    .cabecalhoPrincipal-nav a {
        display: inline-grid;
        margin: auto ;
    }

.cabecalhoPrincipal-login {
    justify-content: space-between;
    margin-left: auto;
}
    .cabecalhoPrincipal-login a {
        padding: 5px;
    }

    .cabecalhoPrincipal-nav img {
        width: 90px;
        align-self: normal;
    }

.cabecalhoPrincipal {
    /* The image used */
  /* Full height */
  background-color: #151f34;
  background-repeat: round;
}

#imageElo img {
    height: -webkit-fill-available;
}

input {
    margin: 10px;
    background-color: lavender;
}

#getMastery {
    border: 5px solid #1A293A;
    box-shadow: 0 0 6px 1px #060B14, inset 0 0 0 1px #0d1420;
    height: 200px;
    display: flex;
    margin: 5px;
}

#free-week-champions {
    border: 1px solid #1A293A;
    box-shadow: 0 0 1px 1px #060B14, inset 0 0 0 1px #0d1420;
    background: #1b2b46;
    flex: 1;
    margin: 5px;
    height: fit-content;
}

#champion-image {
    border: 1px solid #1A293A;
    box-shadow: 0 0 1px 1px #060B14, inset 0 0 0 1px #0d1420;
    background: #1b2b46;
    flex: 1;
    padding: 1em;
    margin: 5px;
    
    height: fit-content;

}
#free-week-info {
    display: flex;
    width: 200px;
}

#img2 {
    height: -webkit-fill-available;
}

#new-champ  {
    background-image: url("https://i.imgur.com/yKN9adq.png");
    height: 300px;
    background-repeat: round;
    border: 1px solid #1A293A;
    box-shadow: 0 0 1px 1px #060B14, inset 0 0 0 1px #0d1420;
}

    #new-champ a {
        float: left;
        padding: 30px;
        color: darkgoldenrod;
    }

#first-box {
    display: flex;
}

#champion-skin {
    border: 1px solid #1A293A;
    box-shadow: 0 0 1px 1px #060B14, inset 0 0 0 1px #0d1420;
    background: #1b2b46;
    flex: 1;
    margin: 5px;
    height: 189px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-repeat: round;
}

#error-message {
    width: -webkit-fill-available;
    text-align: initial;
    display: flex;
}

#seconds-box {
    display: flex;
    justify-content: space-around;
    height: 400px;
    border: 1px solid #1A293A;
    box-shadow: 0 0 1px 1px #060B14, inset 0 0 0 1px #0d1420
}
    #seconds-box object {
        width: 50%;
        margin: 10px;

    }

    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        align-self: center;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      