<html>
  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="api.js"></script>
    <header class="cabecalhoPrincipal">
      <div id="login">
        <nav class="cabecalhoPrincipal-login">
          <a class="cabecalhoPrincipal-nav-link" href="#">Login</a>
          <a class="cabecalhoPrincipal-nav-link" href="#">Cadastrar</a>
          <li>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-steam"></a>
          </li>
         

        </nav>
      </div>
      <div id="naruto">
        <nav class="cabecalhoPrincipal-nav">
          <img class="cabecalhoPrincipal-nav-logo" src="https://i.pinimg.com/originals/cd/ab/e1/cdabe19c6dd00048678936575ed9a70a.png">
          <a class="cabecalhoPrincipal-nav-link" href="#">Home <a>Rank Champions</a></a>
          <a class="cabecalhoPrincipal-nav-link" href="#">Cursos <div>Rank Champions</div></a>
          <a class="cabecalhoPrincipal-nav-link" href="#">Champions <div>Rank Champions</div></a>
          <a class="cabecalhoPrincipal-nav-link" href="#">Tier List <div>Rank Champions</div></a>
        </nav>
      </div>
        
    </header>
<div id="wrapper">
  <div id="new-champ">
    <a>Campeão em destaque</a>
  </div>
  <div id="first-box">
    <div id=free-week-div>
      <div id="free-week">
        <ol id="list">
        </ol>
        <h1>Free week champions</h1>
      </div>
      <div id="sasuke">
        <div id="free-week-image">
          <h1 id="champ-title"></h1>
        </div></div>
    </div>
    <div id="video">
      <img src="" id='img1'>
    </div>
  </div>
  <div id="seconds-box">
    <div id></div>
    <object data="https://www.youtube.com/v/Y-839Y-cLOk"></object>
    <object data="https://www.youtube.com/v/zaVYX_pzf0w"></object>
  </div>
  <div id="getMastery">
    <div id="form">
      <input id="str" [(ngModel)]="str"/>
      <label class="container">Solo Queue
        <input type="checkbox" [(ngModel)]="soloChecked"  data-md-icheck (change)="toggleVisibility($event)"/>
        <span class="checkmark"></span>
      </label>
      <label class="container">Flex
        <input type="checkbox" [(ngModel)]="flexChecked"  data-md-icheck (change)="toggleVisibility($event)"/>
        <span class="checkmark"></span>
      </label>
      <button (click)="sendValues() ">Send</button>
    </div>
    <div id="erroor" style="display: none;">
      <a id="error"></a>
    </div>
    <div class="lds-roller" id="loader" style="display: none;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div id="naruteiro">
      <div id="infos">
        <h1 id="name"></h1>
      </div>
      <div id="formInfo">
        <a id="wins"></a>
        <a id="losses"></a>
        <a id="tier"></a>
        <a id="rate"></a>
      </div>
        <div id="imageElo">
          <img id="eloImage" src="">
      </div>
    </div>
    
    
  </div>
  
</div>

</body>
<footer>
</footer>
</html>