<html>
  <link href="https://fonts.googleapis.com/css?family=Chelsea+Market&amp;subset=latin-ext" rel="stylesheet">
  <div id="apiError" style="display: none;">
    <img src="https://i.ya-webdesign.com/images/error-image-png-6.png">
    <a id="apiErrorMessage"></a>
  </div>
<body id="bodyId" style="background-image: url(assets/backgroundImage/Blac-texture.jpg)">
  <!-- <div id="loaderDiv">
    <div class="scene">
      <div id="loadingInfos">
        <h1>League of Legeds stats</h1>
      <div class="lds-roller" id="loader3" style="display: none;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
      <div class="magic">

      </div>
    </div>
  </div> -->
  
  
  <div id="container">
  <header class="cabecalhoPrincipal">
    <div *ngFor="let item of teste">{{item}}</div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div id="cabecalhoPrincipal-list">
        <nav class="cabecalhoPrincipal-nav">
          <a routerLink="" class="cabecalhoPrincipal-nav-link" href="#">Home</a>
           <a onClick="window.location.reload();" routerLink="/allchampions" class="cabecalhoPrincipal-nav-link" href="#">All <div>Champions</div></a>
        </nav>
      </div>
  </header>
  <div id="wrapper">
    <div id="searchForm">
        <div id="form">
            <input id="summonerName" [(ngModel)]="summonerName" placeholder="Summoner name..."/>
            <button (click)="getSpectateInfo($event)">Search</button>
          </div>
    </div>
    <div id="removeBut">
      <img class="revertChanges" style="display: none;" id='Revert' title="Revert filters" src="assets/routesImages/revert.png" (click)="removeFilters()">
    </div>
    <div class="test" style="display: flex; justify-content: space-around;">
      <div class="card-hover" *ngFor="let itens of champion100">
        <div class="card">
          <div class="card-content">
            <div class="image" [style.backgroundImage]="'url('+ itens.image +')'"></div>
            <h3 class="text">
              {{itens.name}}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="champion100 == 0" style="display: none;" id="loaderSpec">
    <svg version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
   <path fill="#6495ED" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
    c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
        <animateTransform 
           attributeName="transform" 
           attributeType="XML" 
           type="rotate"
           dur="2s" 
           from="0 50 50"
           to="360 50 50" 
           repeatCount="indefinite" />
    </path>
   <path fill="#6495ED" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
    c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
        <animateTransform 
           attributeName="transform" 
           attributeType="XML" 
           type="rotate"
           dur="1s" 
           from="0 50 50"
           to="-360 50 50" 
           repeatCount="indefinite" />
    </path>
   <path fill="#6495ED" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
    L82,35.7z">
        <animateTransform 
           attributeName="transform" 
           attributeType="XML" 
           type="rotate"
           dur="2s" 
           from="0 50 50"
           to="360 50 50" 
           repeatCount="indefinite" />
    </path>   
  </svg>
</div>
<div id="versus" *ngIf="champion100 != 0">VS</div>
<div id="error" style="display: none;"></div>
    <div class="test" style="display: flex; justify-content: space-around; margin-top: 3em;">
      <div class="card-hover" *ngFor="let itens of champion200">
        <div class="card">
          <div class="card-content">
            <div class="image" [style.backgroundImage]="'url('+ itens.image +')'"></div>
            <h3 class="text layer-3">
              {{itens.name}}
            </h3>
          </div>
        </div>
      </div>
    </div>
    </div>
    
  </div>
  <div>

    
  

  <footer>
    <div id="riot-image">
      <img src="https://img.ibxk.com.br/2019/07/26/26171514413327.jpg">
      <img src="https://d33jl3tgfli0fm.cloudfront.net/helix/images/landing/developers/2018-11-Riot-Games.png">
      <img src="https://logodownload.org/wp-content/uploads/2014/09/lol-league-of-Legends-logo.png">
    </div>
    <div id="medial-links">
      <a href="#" class="fa fa-facebook" target="_blank" href="https://www.facebook.com/RiotGames/"></a>
      <a href="#" class="fa fa-twitter" target="_blank" href="https://twitter.com/RiotGamesAPI"></a>
      <a href="#" class="fa fa-youtube" target="_blank" href="https://www.youtube.com/channel/UCJEGvSZnQ1pkVfHO8s5G8hA"></a>
    </div>
</footer>
</div>
</body>
</html>